In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
train_data = pd.read_csv("D:\\IGT\\data\\Halloween data set\\dataset\\train.csv")

In [3]:
train_data.head()

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [4]:
train_data.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [5]:
train_data.drop(['instock_date','Customer_name'],axis =1, inplace = True)

In [6]:
train_data.isnull().sum()

Product_id            0
Stall_no              5
Market_Category       0
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [7]:
train_data.shape

(6368, 13)

In [8]:
train_data.drop(["Stall_no"],axis = 1, inplace = True)

In [9]:
train_data.Discount_avail.unique()

array([ 0.,  1., nan])

In [10]:
train_data['Discount_avail'].fillna(0, inplace = True)

In [11]:
train_data.isnull().sum()

Product_id            0
Market_Category       0
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail        0
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [12]:
train_data.describe()

,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
count,6368.000000,6368.000000,6368.000000,6368.000000,6170.000000,6163.000000,6330.000000,6025.000000,6327.000000
mean,199.340609,0.643687,50.921168,0.139604,264.514100,10.146195,3531.349763,6432.545892,4563.242592
std,170.275570,1.025092,29.091922,0.346603,124.483056,4.318339,2194.729604,3716.177364,2979.102408
min,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,-6062.470000
25%,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1879.250000,3918.000000,2450.005280
50%,132.000000,0.000000,51.000000,0.000000,252.000000,10.000000,3157.500000,5634.000000,4210.384640
75%,403.000000,2.000000,76.000000,0.000000,314.000000,14.000000,4697.000000,8126.000000,6167.643252
max,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [13]:
train_data.describe()

,Market_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
count,6368.000000,6368.000000,6368.000000,6368.000000,6170.000000,6163.000000,6330.000000,6025.000000,6327.000000
mean,199.340609,0.643687,50.921168,0.139604,264.514100,10.146195,3531.349763,6432.545892,4563.242592
std,170.275570,1.025092,29.091922,0.346603,124.483056,4.318339,2194.729604,3716.177364,2979.102408
min,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,-6062.470000
25%,55.000000,0.000000,26.000000,0.000000,163.000000,7.000000,1879.250000,3918.000000,2450.005280
50%,132.000000,0.000000,51.000000,0.000000,252.000000,10.000000,3157.500000,5634.000000,4210.384640
75%,403.000000,2.000000,76.000000,0.000000,314.000000,14.000000,4697.000000,8126.000000,6167.643252
max,471.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941

In [14]:
train_data['charges_1'] = train_data['charges_1'].fillna(train_data['charges_1'].mean())
train_data['charges_2 (%)']= train_data['charges_2 (%)'].fillna(train_data['charges_2 (%)'].mean())
train_data['Minimum_price'] = train_data['Minimum_price'].fillna(train_data['Minimum_price'].mean())
train_data['Maximum_price'] = train_data['Maximum_price'].fillna(train_data['Maximum_price'].mean())
train_data['Selling_Price']= train_data['Selling_Price'].fillna(train_data['Selling_Price'].mean())

In [15]:
train_data.isnull().sum()

Product_id          0
Market_Category     0
Loyalty_customer    0
Product_Category    0
Grade               0
Demand              0
Discount_avail      0
charges_1           0
charges_2 (%)       0
Minimum_price       0
Maximum_price       0
Selling_Price       0
dtype: int64

In [16]:
train_data.head()

,Product_id,Market_Category,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,2,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,24,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,447,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,23,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,63,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935

In [17]:
train_data['Loyalty_customer'] = train_data['Loyalty_customer'].apply(lambda x: x.strip())

In [18]:
train_data.Product_id.unique()

array(['BRAE2NF6JA5GUEXG', 'TUNE8SFB6RJN2HSD', 'BRAEAR7WZPQGPBZU', ...,
       'PBXEB9ZQ7HHCFXYG', 'NKCEAGXHRYTNTMG7', 'CAGE53FSAFWZRHFF'],
      dtype=object)

In [19]:
train_data.Product_Category.unique()

array(['Fashion', 'Child_care', 'Educational', 'Repair', 'Technology',
       'Cosmetics', 'Hospitality', 'Organic', 'Pet_care', 'Home_decor'],
      dtype=object)

In [20]:
train_data.Loyalty_customer.replace(to_replace = {'Yes' : 1, 'No' : 0}, inplace = True)

In [21]:
train_data.Loyalty_customer.unique()

array([1, 0], dtype=int64)

In [22]:
final_train = pd.get_dummies(data=train_data, columns=['Product_Category', 'Product_id'], drop_first= True)

In [23]:
final_train[final_train < 0] = 0

In [24]:
final_train.describe()

,Market_Category,Loyalty_customer,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price,...,Product_id_WLMEHFQZHVFUXVWG,Product_id_WLPEJR93AGRUSEZH,Product_id_WSCEFUV4TVWT73ZB,Product_id_WSCEG2FYDYFDSVZ6,Product_id_WSCEJFZSJHPBRWGK,Product_id_WTCEGGTZEJQ2YRQG,Product_id_WTDEDGHHBXMZB2HG,Product_id_WTDEDGHHFSDQXYGD,Product_id_WTDEDGJYYAHGZXKE,Product_id_YSPEGGA5JKZFHP97
count,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,...,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000,6368.000000
mean,199.340609,0.610396,0.643687,50.921168,0.139604,264.514100,10.146195,3531.349763,6432.545892,4571.769281,...,0.000157,0.000157,0.000157,0.000157,0.000157,0.000157,0.000157,0.000157,0.000157,0.000157
std,170.275570,0.487699,1.025092,29.091922,0.346603,122.532192,4.248251,2188.170429,3614.693601,2949.636404,...,0.012531,0.012531,0.012531,0.012531,0.012531,0.012531,0.012531,0.012531,0.012531,0.012531
min,0.000000,0.000000,0.000000,1.000000,0.000000,100.000000,1.000000,1.000000,404.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,55.000000,0.000000,0.000000,26.000000,0.000000,166.000000,7.000000,1884.750000,4019.500000,2461.237728,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,132.000000,1.000000,0.000000,51.000000,0.000000,255.000000,10.146195,3170.000000,5865.000000,4233.397860,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,403.000000,1.000000,2.000000,76.000000,0.000000,309.250000,14.000000,4691.000000,7927.750000,6156.039923,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,471.000000,1.000000,3.000000,100.000000,1.000000,649.000000,17.000000,17580.000000,58812.000000,22638.325941,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X = final_train.drop(['Selling_Price'], axis = 1)

In [27]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [28]:
X_scaled = scaler.fit_transform(X)
X_scaled

array([[-1.15903947,  0.79892518,  0.34761846, ..., -0.01253235,
        -0.01253235, -0.01253235],
       [-1.02982699,  0.79892518, -0.62798064, ..., -0.01253235,
        -0.01253235, -0.01253235],
       [ 1.45457648,  0.79892518, -0.62798064, ..., -0.01253235,
        -0.01253235, -0.01253235],
       ...,
       [ 0.93185329, -1.25168166,  2.29881665, ..., -0.01253235,
        -0.01253235, -0.01253235],
       [ 1.48394295,  0.79892518, -0.62798064, ..., -0.01253235,
        -0.01253235, -0.01253235],
       [-0.83013499,  0.79892518, -0.62798064, ..., -0.01253235,
        -0.01253235, -0.01253235]])

In [29]:
y = final_train.Selling_Price

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.20)

In [31]:
from sklearn.linear_model import LinearRegression

In [32]:
model = LinearRegression()

In [ ]:
model.fit(X_train, y_train)

In [ ]:
predicted = model.predict(X_test)
predicted

In [ ]:
for i in range(len(predicted)):
    if (predicted[i] < 0):
        print(predicted[i], end = "  ")

In [ ]:
y_test.shape

In [ ]:
model.score(X_test,y_test)

In [ ]:
from sklearn.metrics import mean_squared_log_error

In [ ]:
RMLE = mean_squared_log_error(y_test, predicted)

In [ ]:
score = max(0, 100 - RMLE )

In [ ]:
score